@model IEnumerable<UniEBoard.Service.Models.ScheduleViewModel>
@if (Request.IsAuthenticated && Model != null)
{
    if (Model != null)
    {
        foreach (var obj in Model)
        {
            <span class="label radius">@obj.PublishFrom -  @obj.PublishTo       
                @Ajax.ActionLink("x", "RemoveScheduleFromClass", new { scheduleId = obj.Id, classId = ViewData["ClassScheduleIdentifier"] }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = string.Format("{0}_{1}", "calssSchedule", ViewData["ClassScheduleIdentifier"]), InsertionMode = InsertionMode.Replace }, new { @class = "close" })
            </span>
        }
                               
        
    }
}