################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cognite.MembershipProvider/bin/Debug
/.vs/config
/Cognite.MembershipProvider/obj/Debug
/Dependencies
/Resource/bin/Debug
/Resource/obj/Debug
/UniEBoard/bin
/UniEBoard/obj/Debug
/UniEBoard.AppService.Test/bin/Debug
/UniEBoard.AppService.Test/obj/Debug
/UniEBoard.Controller.Test/bin/Debug
/UniEBoard.Controller.Test/obj/Debug
/UniEBoard.DomainService.Test/bin/Debug
/UniEBoard.DomainService.Test/obj/Debug
/UniEBoard.Entities.Test/bin/Debug
/UniEBoard.Entities.Test/obj/Debug
/UniEBoard.Model/bin/Debug
/UniEBoard.Model/obj/Debug
/UniEBoard.Repository/bin/Debug
/UniEBoard.Repository/obj/Debug
/UniEBoard.Repository.Tests/bin/Debug
/UniEBoard.Repository.Tests/obj/Debug
/UniEBoard.Service/bin/Debug
/UniEBoard.Service/obj/Debug
/Utility/bin/Debug
/Utility/obj/Debug
